<footer class="row-footer">
    <div class="container">
        <div class="row">             
            <div class="col-xs-12 col-xs-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a ui-sref="app">Home</a></li>
                    <li><a ui-sref="app.diseases">Diseases</a></li>
                    <li><a ui-sref="app.theract">Therapeutic Activities</a></li>
                </ul>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Copyright 2016 No name yet Company</p>
            </div>
        </div>
    </div>
</footer>
