<div class="container">
    <div class="row row-content" ng-controller="HomeController">
    	<div class="col-xs-12">
    		<p style="padding:20px;"></p>
	    	<button type="button" ui-sref="app.diseases" class="btn btn-primary btn-block btn-lg">Edit Diseases</button>
	    	<p style="padding:20px;"></p>
	    	<a ui-sref="app.theract"><button type="button" class="btn btn-primary btn-block btn-lg">Edit Therapeutic activities</button></a>
			<p style="padding:20px;"></p>
			<button type="button" class="btn btn-primary btn-lg btn-block disabled">Edit Drugs</button>
			<p style="padding:20px;"></p>
			<button type="button" class="btn btn-primary btn-lg btn-block disabled">Edit Biomarkers</button>
			<p style="padding:20px;"></p>
		</div>
    </div>
</div>
